<!-- Default back button -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="ion-align-self-center">
    <ion-card-header>
      <ion-card-title>
        <ion-input [(ngModel)]="title" placeholder="Title"></ion-input>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-icon size="large" name="list-circle" slot="start"></ion-icon>
          <ion-input inputmode="text" [(ngModel)]="task" placeholder="Task"></ion-input>
          <ion-icon name="add-circle" size="large" (click)="addItem()"></ion-icon>
        </ion-item>

        <ion-item *ngFor="let item of tasks">
          <ion-icon size="large" name="list-circle-outline" slot="start"></ion-icon>
          <div>{{ item }}</div>
          <ion-icon name="close-circle-outline" size="large" slot="end" (click)="delete(item)"></ion-icon>
        </ion-item>
      </ion-list>

      <ion-row align="center">
        <ion-col size="6">
          <ion-item lines="none">Image
            <ion-icon name="image-outline" slot="start" size="large"></ion-icon>
          </ion-item>
        </ion-col>

        <ion-col size="6">
          <ion-item lines="none" (click)="save()">Save
            <ion-icon name="save-outline" slot="start" size="large"></ion-icon>
          </ion-item>
        </ion-col>
      </ion-row>

    </ion-card-content>
  </ion-card>
</ion-content>
