<ion-app>
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-searchbar animated placeholder="Search your tasks" slot="start"></ion-searchbar>
      <ion-icon *ngIf="!user" slot="end" size="large" name="logo-google" (click)="login()"></ion-icon>
      <ion-avatar *ngIf="user" slot="end"><img [src]="user.photoURL" (click)="showUser()"></ion-avatar>
    </ion-toolbar>

    <div *ngIf="userInfo">
      <ion-item lines="none">
        <ion-avatar slot="start"><img [src]="user.photoURL"></ion-avatar>
        <div>
          <ion-label>{{user.displayName}}</ion-label>
          <ion-note>{{user.email}}</ion-note>
        </div>
        <ion-icon name="log-out-outline" slot="end" (click)="logout()"></ion-icon>
      </ion-item>
    </div>
  </ion-header>

  <ion-content [fullscreen]="true">
    <ion-grid *ngFor="let list of myServices.lists">
          <ion-card (click)="showItems(list.key)">
            <ion-card-header>
              <ion-card-title>{{list['title']}}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <ion-item lines="none" *ngFor="let task of list['tasks']">
                  <ion-icon name="checkbox-outline" size="small" slot="start"></ion-icon>
                  <ion-label>{{task}}</ion-label>
                </ion-item>
            </ion-card-content>
          </ion-card>
    </ion-grid>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="addList()">
        <ion-icon name="add-circle"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
  </ion-toolbar>
</ion-footer>
</ion-app>
