#share {
  margin-top: 5px;
  margin-right: 10px;
}

ion-list {
  display: inline-flex;
}

.row {
  display: inline-flex;
}

ion-checkbox .item-cover{
  display:none;
}
.center{
  text-align: center;
}
