<!-- Default back button -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="ion-align-self-center">
    <!-- <ion-img [src]="myServices.list['img']"></ion-img> -->
    <ion-card-header>
      <ion-card-title>{{myServices.list['title']}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
        <ion-item lines="none" *ngFor="let task of myServices.list['tasks']">
          <ion-checkbox slot="start"></ion-checkbox>
          <ion-label>{{task}}</ion-label>
        </ion-item>
    </ion-card-content>
  </ion-card>

</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-row>
      <ion-item lines="none">
        <ion-icon name="image"></ion-icon>
      </ion-item>

      <ion-item lines="none">
        <ion-icon name="share-outline"></ion-icon>
      </ion-item>

      <ion-item lines="none">
        <ion-icon name="create"></ion-icon>
      </ion-item>

      <ion-item lines="none">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-item>

    </ion-row>
  </ion-toolbar>
</ion-footer>
